.app-loader-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-loader-page-text {
  margin-top: 20px;
  font-size: 1.2rem;
  color: var(--color-text-primary);
}
