.app-header {
  height: var(--header-height);
  background-color: var(--color-bg-primary);
  box-shadow: 0 2px 4px var(--color-shadow-primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0 1.5rem;
}

.app-header-content {
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.app-header-logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  flex-shrink: 0;
  font-style: italic;
}

.app-header-logo-bal {
  color: var(--color-expense);
}

.app-header-logo-hom {
  color: var(--color-income);
}

.app-header-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: auto;
}

.app-header-nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  color: var(--color-text-secondary);
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

.app-header-nav-link:hover {
  background-color: var(--color-bg-tertiary);
  color: var(--color-income);
}

.app-header-nav-link.active {
  color: var(--color-income);
  background-color: var(--color-selected);
}

.app-header-nav-link-text {
  font-weight: 500;
}

.app-header-mobile-menu-button {
  display: none;
  padding: 0.5rem;
  background: none;
  border: none;
  color: var(--color-text-secondary);
  cursor: pointer;
}

.app-header-mobile-menu {
  display: none;
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  background: var(--color-bg-primary);
  padding: 1rem;
  box-shadow: 0 2px 4px var(--color-shadow-primary);
}

@media (max-width: 768px) {
  .app-header {
    padding: 0 1rem;
  }

  .app-header-content {
    gap: 1rem;
  }

  .app-header-nav {
    display: none;
  }

  .app-header-mobile-menu-button {
    display: block;
  }

  .app-header-mobile-menu.open {
    display: block;
  }

  .app-header-mobile-menu .app-header-nav-link {
    padding: 0.75rem;
  }
}
