:root {
  /* Light Theme Variables */
  --primary-color: #4caf50;
  --primary-color-hover: #43a047;
  --secondary-color: #ff5252;
  --secondary-color-hover: #ff7272;

  --header-height: 64px;

  /* Light Theme Colors */
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f8fafc;
  --color-bg-tertiary: #f1f5f9;

  --color-text-primary: #333333;
  --color-text-secondary: #64748b;
  --color-text-tertiary: #ffffff;

  --color-border: #d7dde6;
  --color-border-hover: #f0fdf4;
  
  --color-shadow-primary: rgba(0, 0, 0, 0.1);
  --color-shadow-secondary: rgba(0, 0, 0, 0.5);

  --color-selected: #dcfce7;
  
  --color-success: #4caf50;
  --color-error: #ef4444;

  --color-income: #1da53f;
  --color-expense: #d6471c;
}

/* Dark Theme Variables */
:root.dark {
  --color-bg-primary: #1f2937;
  --color-bg-secondary: #374151;
  --color-bg-tertiary: #4b5563;

  --color-text-primary: #e5e7eb;
  --color-text-secondary: #9ca3af;
  --color-text-tertiary: #ffffff;

  --color-border: #374151;
  --color-border-hover: #065f46;
  --color-shadow-primary: rgba(0, 0, 0, 0.3);
  --color-success: #059669;
  --color-error: #dc2626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.income-color {
  color: var(--color-income);
}

.expense-color {
  color: var(--color-expense);
}

.income-background {
  background: var(--color-income);
}

.expense-background {
  background: var(--color-expense);
}

.income-background-and-border {
  background: var(--color-income);
  border-color: var(--color-income);
}

.expense-background-and-border {
  background: var(--color-expense);
  border-color: var(--color-expense);
}
