.app-main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main-layout-content {
  flex: 1;
  padding: 20px;
  margin-top: var(--header-height);
}

@media (max-width: 768px) {
  .app-main-layout-content {
    padding: 16px;
  }
}
